<!DOCTYPE html>
<html>
  <head>
    <title>Registration Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4 mt-5 mb-5">
          <h3>Request for onboard</h3>
          <form action="http://localhost:8000/send/request" method="post">
            <div class="form-group">
              <label for="user_name">Company name</label>
              <input
                type="text"
                class="form-control"
                id="user_name"
                name="company_name"
                placeholder="Company name"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="company_email"
                placeholder="Company email"
                required
              />
            </div>
            <div class="form-group">
              <label for="business_address">Business address</label>
              <input
                type="text"
                class="form-control"
                id="business_address"
                name="business_address"
                placeholder="Business address"
                required
              />
            </div>
            <div class="form-group">
              <label for="industry">Industry</label>
              <select
                class="form-control"
                id="industry"
                name="industry"
                required
              >
                <option value="technology">Technology</option>
                <option value="agriculture">Agriculture</option>
                <option value="manufacturing">Manufacturing</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Request</button>
            <a href="/login" class="btn btn-link">Logout</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
